.blog-header {
    width:map_get($sizes, all);
    background:map_get($headers, bgColor);
    color:map_get($headers, fontColor);
}

.blog-head {
    @extend %block-head;
    @include flex;
    flex-direction: row;

    .btn-nav-list {
        @include none;
        font-size:30px;
        text-align: center;
        @include square(map_get($btnNavList, size));
        &.active {
            @extend %nav-item_active;
        }
    }
    .blog-head-logo {
        margin:0;
        text-align: center;
        font-size:18px;
        flex: 1;
    }
}

.blog-nav {
    @extend %block-head;
    @include flex(false);
    .nav-item {
        @include block;
        padding:0 20px;
        color:map_get($headers, fontColor);
        @include transition();
        &:hover {
            @extend %nav-item_active;
        }
        &.active {
            @extend %nav-item_active;
        }
    }
}

.blog-search {
    background: map_get($headers, fontColor);
    height:map_get($sizes, headerItem);
    @include none();
    .blog-search-word {
        @include float(left);
        padding:0 20px;
        font-size:18px;
        @include block;
        width:80%;
        height:map_get($sizes, headerItem);
        line-height:map_get($sizes, headerItem);
        border:2px solid #000;
        box-sizing: border-box;
    }
    .blog-search-btn {
        @include float(left);
        height:map_get($sizes, headerItem);
        line-height:map_get($sizes, headerItem);
        width:20%;
        text-align: center;
        background:map_get($headers, bgColor);
        color:map_get($headers, fontColor);
    }
}
