@mixin flex($important:false) {
    @if ($important == false) {
        display: flex;
    } @else {
        display: flex !important;
    }
}

@mixin transition($prototype:all, $time:.3s) {
    transition: $prototype $time;
}

@mixin radiusTop($size) {
    border-top-left-radius: $size;
    border-top-right-radius: $size;
}

@mixin boxshadow() {
    box-shadow: 1px 2px 10px rgba(0,0,0, .1);
}

@mixin square($size) {
    width:$size;
    height:$size;
    line-height:$size;
}

@mixin none($important:false) {
    @if $important == false {
        display: none;
    } @else {
        display: none !important;
    }
}

@mixin block() {
    display: block;
}

@mixin flexColumn() {
    flex-direction: column;
}
