@media screen and (max-width: map_get($sizes,small)) {

    .blog-header {
        position:fixed;
        top:0;
        @include boxshadow();
        .btn-nav-list {
            @include block;
        }
        .blog-nav {
            @include mobileNav;
        }
        .blog-search {
            @include block;
        }
    }
    .article-list {
        margin-top:map_get($sizes, headerItem);
        width:map_get($sizes,all);
    }
    .blog-aside {
        @include none();
    }

    .article-list {margin-right:0;}

}

@media screen and (min-width: map_get($sizes, small)) {

}
