$sizes: (
    container:960px,
    headerItem:60px,
    small:768px,
    all:100%,
    defaultPadding:20px
);

$colors: (
    headerBgColor:#000,
    headerFontColor:#fff,
    attrColor:#999
);

$articleList: (
    titleFontSize:20px,
    introColor:#666,
    introLineHeight:1.4,
    margin:10px,
    itemMargin:map_get($sizes, defaultPadding),
    attrFontSize: 17px,
    btnFontSize:13px
);

$btn: (
    fontColor:#fff,
    bgColor:#000
);

$footer: (
    bgColor:#000,
    fontColor:#fff
);

$btnNavList:(
    size:map_get($sizes, headerItem),
    fontSize:30px
);

$headers: (
    bgColor:map_get($colors, headerBgColor),
    fontColor:map_get($colors, headerFontColor)
)
